@import "~/src/scss/index.scss";

.container {
    height: 100vh;
    max-height: 100vh;
    display: flex;  
    flex-direction: row;
    justify-content: space-between;

}

.topBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;

    > a {
        >image {
            height: 30px;
        }

        > i {
            font-size: 30px;
            color: $danger;
            margin: 0;
        }
    }
}

.blockLeft {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockRight {
    width: 50%;
    height: 100%;
    background-image: url('/images/sign-in.jpg');
    background-position: center;
    background-size: cover;
}
